/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto; 
}

.section {
	padding-top: 90px;
	padding-bottom: 90px;
}

.section-header {
	margin-bottom: 40px;
	text-align: center;
}

.section-header-title {
	margin-bottom: 10px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 42px;
	line-height: normal;
	color: #000000;
}

.section-header p {
	font-size: 14px;
	line-height: normal;
	text-transform: uppercase;
	color: #999999;
}

/* Product card */

.products-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: -15px;
	margin-right: -15px;
}

.product {
	margin-bottom: 40px;
	margin-left: 15px;
	margin-right: 15px;
	width: 270px;
	height: 420px; 
	text-align: center;
}

.product-img {
	margin-bottom: 12px;
}

.product-title {
	margin-bottom: 12px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 20px;
	color: #000000;
}

.product-price-wrapper {
	font-size: 14px;
	text-transform: uppercase;
}

.product-price-old {
	margin-right: 10px;
	text-decoration-line: line-through;
	color: #999999;
}

.product-price-new {
	font-weight: 700;
	color: #f72464;
}

/* Button */

.section-button-wrapper {
    text-align: center;
}

.button {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;

    height: 42px;
    background: #FFFFFF;
    border: 1px solid #F72464;
    border-radius: 4px;

    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    text-decoration: none;
}
