@media (max-width: 1199px) {
    .container {
        width: 900px; 
    }
}

@media (max-width: 899px) {
    .container {
        width: 600px;
    }

    .section {
	padding-top: 60px;
	padding-bottom: 60px;
    }

    .section-header-title {
        font-size: 32px;
    }

    .section-header p {
        font-size: 12px;
    }
}

@media (max-width: 599px) {
    .container {
        width: 320px;
    }

    .products-row {
        flex-direction: column;
        align-items: center;
    }

}